body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: black;
    font-family: sans-serif;
    font-size: 50px;
}

.container {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 70%;
    padding: 70px 0;
    text-align: center;
}
.backgroudC{
  /* background: rgb(157, 154, 154); */
    padding: 30px;
    width: 50%;
    margin: auto;
    justify-content: center;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
}
.table-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 85%;
    padding: 10px;
}

.table-headers {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    width: 95%;
}

.tasks {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    width: 95%;
}

.th1{
    width: 320px;
    height: auto;
    margin: 0px 0px 8px;
}
.th2{
    width: 100px;
    height: auto;
    margin: 0px 0px 8px;
}
.th3{
    width: 100px;
    height: auto;
    margin: 0px 0px 8px;
}
.th4{
    width: 100px;
    height: auto;
    margin: 0px 0px 8px;
}

.task {
    width: 320px;
    height: auto;
    margin: 0px 0px 8px;
}

.added {
    width: 100px;
    height: auto;
    margin: 0px 0px 8px;
}

.actions {
    width: 100px;
    height: auto;
    margin: 0px 0px 8px;
}

.completed {
    width: 100px;
    height: auto;
    margin: 0px 0px 8px;
}

.deleteBtn {
    background-color: red;
    color: white;
    margin-bottom: 5px;
}

.completeBtn {
    background-color: green;
}