.signup-container{
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 70%;
    padding: 70px 0;
    text-align: center;
}

.signupInputC {
    padding: 30px;
    width: 50%;
    margin: auto;
    justify-content: center;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
}

.fieldsetContainer {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    width: 95%;
}
.fieldsetContainer2 {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    width: 95%;
}
.fieldsetContainer3 {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    width: 95%;
}
.fieldsetContainer4 {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    width: 95%;
}
.fieldsetContainer5 {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    width: 95%;
}
.emailfieldsetField {
    padding: 5.6px 12px 10px 12px;
    width: 275px;
    height: 20px;
}
.EnterPassfieldsetField {
    padding: 5.6px 12px 10px 12px;
    width: 275px;
    height: 20px;
}
